*{
	padding: 0;
	margin: 0;
}
.tren {
	height: 120px;
	background-color: green;
}
.duoi {
	height: 800px;
}
.navbar {
	font-family: arial;
	border-bottom: 0.5px solid white;
	margin-left: 170px;
	margin-right: 170px;
	padding: 16px;
}